body {
	padding: 0;
	margin: 0;
}

#map,
body,
html {
	height: 100%;
}

div #legend {
	height: 220px;
	width: 100px;
	padding: 10px;
	background-color: white;
	border: 1px solid black;
}

div.color-purple {
	background-color: purple;
	height: 1em;
	width: 20px;
	display: inline-block;
}

div.color-blue {
	background-color: blue;
	height: 1em;
	width: 20px;
	display: inline-block;
}

div.color-green {
	background-color: green;
	height: 1em;
	width: 20px;
	display: inline-block;
}

div.color-yellow {
	background-color: yellow;
	height: 1em;
	width: 20px;
	display: inline-block;
}

div.color-orange {
	background-color: orange;
	height: 1em;
	width: 20px;
	display: inline-block;
}

div.color-red {
	background-color: red;
	height: 1em;
	width: 20px;
	display: inline-block;
}

div.info {
	display: inline-block;
	padding-left: 15px;
	padding: .25em;
}

/* .margin_top {
	margin-top: 50px;
}

#map {
	margin-top: 50px;
} */
a.link {
    color: white;
}
.white-font{
    color:white;
}
.jumbotron {
    text-align: center;
    color: white;
    position: relative;
    background: #0077BE;
    margin-bottom: 0px;
    background-size: cover;
    overflow: hidden;
}
.button {
      background-color :white;
      color: #021B3D;
      cursor: pointer;
}
.button:hover {
      background-color: #76FFFF;
      color: black;
}
div.color-purple {
    background-color: purple;
    height: 1em;
    width: 20px;
    display: inline-block;
}
div.color-blue {
    background-color: blue;
    height: 1em;
    width: 20px;
    display: inline-block;
}
div.color-green {
    background-color: green;
    height: 1em;
    width: 20px;
    display: inline-block;
}
div.color-yellow {
    background-color: yellow;
    height: 1em;
    width: 20px;
    display: inline-block;
}
div.color-orange {
    background-color: orange;
    height: 1em;
    width: 20px;
    display: inline-block;
}
div.color-red {
    background-color: red;
    height: 1em;
    width: 20px;
    display: inline-block;
}
div.info {
    display: inline-block;
    padding-left: 15px;
    padding: .25em;
}
.margin_top {
    margin-top: 10px;
}
#map {
    margin-top: 10px;
}
#input {
    margin-top: 50px;
    
}