body {
	padding: 0;
	margin: 0;
<<<<<<< HEAD
}

#map,
body,
html {
	height: 100%;
}

div #legend {
	height: 220px;
	width: 100px;
	padding: 10px;
=======
  }
  
  #map 
  body,
  html {
	height: 80%;
  }
  
  .legend {
>>>>>>> 636dd22ff4c39f74896b1e2db65da59142d29e1b
	background-color: white;
	color: rgb(0, 0, 0);
	padding: 10px;
	border-radius: 6px;
  }
  
  .legend i {
	float: left;
	margin-right: 8px;
	width: 18px;
	height: 18px;
  }
  .margin_top {
	margin-top: 50px;
<<<<<<< HEAD
}

#map {
	margin-top: 50px;
}
=======
  }
  #map {
	margin-top: 25px;
  }
>>>>>>> 636dd22ff4c39f74896b1e2db65da59142d29e1b
